<% provide(:title, "Home") %>

<h1>Home Page</h1>

<button type="button" class="btn btn-lg btn-danger" 
data-bs-toggle="popover" data-bs-title="Popover title" 
data-bs-content="Am really not hiding myself here but rather try to be as transparent as possible and 
geeky?">
Wondering whats inside me</button>


